@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500&display=swap');

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background: #e5e5e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login-image {
    width: 40vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(255, 255, 255);
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card-login-image {
    width: 10vw;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 14px;
    background: #f5f4f4;
    color: #191919;
    font-size: 12px;
    outline: none;
    box-sizing: border-box;
}

.textfield > label {
    color: #191919;
    margin-bottom: 10px;
}

.textfield > input::placeholder {
    color: #6c756c;
}

.btn-login {
    width: 100%;
    padding: 12px 0px;
    margin: 25px;
    border: none;
    border-radius: 12px;
    outline: none;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: #194073;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000056;
}

@media only screen and (max-width: 950px) {
    .card-login {
        width: 85%;
    }

    .card-login-image{
        width: 40%;
    }
}

@media only screen and (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }

    .left-login {
        width: 100%;
        height: auto;
    }

    .right-login {
        width: 100%;
        height: auto;
    }

    .left-login-image {
        width: 60vw;
    }

    .card-login-image{
        width: 40%;
    }

    .card-login {
        width: 90%;
    }
}
